<!DOCTYPE html>

<html lang="it" dir="ltr">
<head>
    <meta charset="utf-8" />

    <!-- MAKE IT RESPONSIVE, YEAH! -->
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />

    <!-- SEO -->
    <title>Come nasce un papà - @ViewData["Title"]</title>
    <meta name="description" content="@ViewData["MetaDescription"]" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Come nasce un papà - @ViewData["Title"]" />
    <meta property="og:description" content="@ViewData["MetaDescription"]" />
    <meta property="og:site_name" content="Come nasce un papà" />
    <meta property="og:locale" content="it_IT" />
    <meta property="og:image" content="https://www.francescopodcast.it/assets/come-nasce-un-papa-podcast-logo-transparent.png" />
    <meta name="author" content="Francesco Bonizzi" />
    <link rel="canonical" href="https://www.francescopodcast.it/@ViewContext!.ActionDescriptor!.AttributeRouteInfo!.Template" />

    <!-- STRUCTURED DATA -->
    @RenderSection("StructuredData", required: false)

    <!-- ICONS -->
    <link rel="apple-touch-icon" sizes="57x57" href="~/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="~/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/favicon-16x16.png">
    <link rel="manifest" href="~/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="~/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!-- STYLE -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&display=swap" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/responsive.css" rel="stylesheet" asp-append-version="true" />

    <!-- SPREAKER -->
    <script async src="https://widget.spreaker.com/widgets.js"></script>

</head>

<body>

    <header class="@ViewData["Header-Custom-Class"]">
        <nav>
            <ul>
                <li>
                    <a class="header-logo" href="/">
                        <img src="~/assets/come-nasce-un-papa-logo-notext-transparent.png"
                             alt="Il logo del podcast 'Come nasce un papà'"
                             width="50"
                             height="50" />
                        <span>Come nasce un papà</span>
                    </a>
                </li>

                <li>
                    <a class="action-button action-button-small" href="#dove-ascoltare">Dove ascoltare</a>
                </li>

                <li>
                    <a href="~/#podcast">Il podcast</a>
                </li>

                <li>
                    <a href="~/#chi-sono">Chi sono</a>
                </li>

                <li>
                    <a href="~/#episodi">Gli episodi</a>
                </li>

                <li>
                    <a href="#contattami">Contattami</a>
                </li>
            </ul>
        </nav>
    </header>

    <main>
        @RenderBody()
    </main>

    <footer class="@ViewData["Footer-Custom-Class"]">
        <p>Questo podcast è scritto, registrato ed editato da me, Francesco Bonizzi, con tanto amore 💚</p>
        <p>&copy; Copyright 2022. <strong>Come nasce un papà</strong></p>
    </footer>

    @RenderSection("Scripts", required: false)

</body>
</html>
